* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

p {
  box-shadow: inset 0 0 30px rgb(243, 192, 73);
  width: 100%;
  max-width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  padding-top: 30px;

  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  font-weight: 800;
  background-color: rgb(235, 61, 61);
  color: rgb(247, 222, 81);
}
